:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-bgc: #E5E5E5;
    --secondary-bgc: #2F303A;
    --primary-fsz: 14px;
    --color-logo-black: #000000;
    --color-logo-white: #FFFFFF;
}


body {
    font-size: var(--primary-fsz);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
    color: var(--primary-color);
}


.list {
    list-style: none;
}

.content {
    width: 1170px;
    margin: 0 auto;

}

/* header */

.header {
    display: flex; 
    align-items: center;
    padding: 24px 0 0;
}

.header-border {
    border-bottom: 1px solid #ECECEC;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-logo-black);

}

.logo-part {
    color: var(--accent-color);
}

.navigation-item:first-child {
    margin-left: 94px;
}

.navigation-item {
    margin-right: 50px;
}


.navigation-list,
.contact-list {
    display: flex;
    margin-left: auto;
}


.navigation-link {
    color: var(--secondary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: pointer;
}

.navigation-link.current {
    color: var(--accent-color);
}

.contact-link {
    color: var(--primary-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
    cursor: pointer;
}

/* hero */

.hero {
    background-color: var(--secondary-bgc);
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    width: 696px;
    color: var(--color-logo-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--color-logo-white);
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #188CE8;
}

.hero-button:focus {
    background-color: #188CE8;
}

/* benefits */

.benefits {
    align-items: center;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.benefits-list {
    display: flex;
}

.benefits-item {
    width: 270px;
}

.benefits-item-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.benefits-item-descr {
    font-weight: 400;
    line-height: 1.71;
}

/* work */

.work {
    margin: 0 auto;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color);
}

.work-list {
    display: flex;
    padding: 0;
}

.work-item {
    margin-right: 30px;
}

/* team */

.team {
    margin: 0 auto;
    background-color: #F5F4FA;;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--secondary-color);
}

.team-list {
    display: flex;
    align-items: center;
    padding: 0;
}

.team-item {
    margin-right: 30px;
    background: var(--color-logo-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--secondary-color);
}

.team-item-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* projects */

.projects {
    margin: 0 auto;
    align-items: center;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-item {
    margin-right: 8px;
}

.filters-item-btn {
    padding: 6px 22px;
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--secondary-color);
    cursor: pointer;
}

.filters-item-btn:hover {
    padding: 6px 22px;
    border: none;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--color-logo-white);
}

.filters-item-btn:focus {
    padding: 6px 22px;
    border: none;
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--color-logo-white);
}

.project-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: -30px;
    margin-right: -30px;
}

.project-list-item {
    box-sizing: border-box;
    border: 1px solid #EEEEEE;

    margin-bottom: 30px;
    margin-right: 30px;

    width: calc((100% - 90px) / 3);
}

.project-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-color);
}

.project-list-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

/* footer */

.footer {
    background-color: var(--secondary-bgc);
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--color-logo-white);
    text-decoration: none;
    margin-left: 20px;
}

.footer-logo-part {
    color: var(--accent-color);
}

.footer-list-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-logo-white);
}

.footer-list-link:hover {
    color: var(--accent-color);
}

.footer-list-contact {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
}

.footer-list-contact:hover {
    color: var(--accent-color);
}